@import "../../../styles/settings.scss";

.root {
  .photo {
    width: 100%;
    height: 82vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .description {
      position: absolute;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px 20px;
      background-color: $color-darkness;
      font-family: $font-header;

      h1,
      h3 {
        color: $color-light;
        flex: 100%;
        text-align: center;
      }

      h1 {
        font-weight: 400;

        & span {
          font-weight: 700;
          width: auto;
          height: auto;
        }
      }

      h3 {
        //text-transform: uppercase;
        font-weight: 300;
      }
    }

    .buttons {
      position: absolute;
      display: flex;
      bottom: 150px;

      .button {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/11/21/17/57/wood-1846849_960_720.jpg");
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        flex: 50%;
        padding: 5px;
        text-align: center;
        color: $color-primary;
        &:hover {
          background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://cdn.pixabay.com/photo/2016/11/21/17/57/wood-1846849_960_720.jpg");
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .buttons {
    bottom: 60px !important;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .buttons {
    bottom: 60px !important;
  }
}
