@import '../../../styles/settings.scss';

.root {
  //background: $color-dark;
  color: $color-light;

  .flag {
    width: 100px;
    max-width: 100px;
  }
  
  .intro {
    display: flex;
    margin: 0 0 ($base-size * 3) 0;
  }

  .price {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.link {
  color: $color-light;
  text-decoration: none;
  right: 150px;
  padding-left: 24px;
  strong {
    margin-left: 20px;
  }
}

/* .seperation {
  margin-bottom: 15px;
} */

.row {
  margin-bottom: 25px;
}

.quantity {
  margin: 5px;
  min-width: 125px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  .inputNumber {
    height: 30px;
    width: 30px;
    text-align: center;
  }
  .buttonQty {
    color:$color-dark-2;
    cursor: pointer;
    font-size: 13px;
    margin: 3px;
    border: none;
  }
}
