@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  position: relative;
  min-height: 5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/11/21/17/57/wood-1846849_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  footer {
    position: absolute;
    text-align: center;
    color: $color-light;
    height: 50px;
    padding-top: 15px;
    bottom: 0;
    width: 100%;
  
    small {
      font-size: 12px;  
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

